<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type ="text" placeholder="search city" name="city" 
    [(ngModel)]="city">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/Hot.jpg" *ngIf="weatherData.current.temp_c>30" >
    <img src="../assets/cold.jpg" *ngIf="weatherData.current.temp_c<=30"> 

    <div class="weather-data">

      <div class="location">  
        {{weatherData.location.name}}
      </div>

      <div class="temperature">{{weatherData.current.temp_c|number:'1.0-0'}}℃</div>

    </div>

  </div> 



  <div class="lower-data">

    <div class="weather-info">
      More Information
    </div> 

    <div class="weather-info-container">
      <div class="weather-info-block">

     <div class="weather-info-label">
      <img src="../assets/min.jfif" > 
      <span>Min</span>
     </div>
     <div class="weather-info-value">{{weatherData.forecast.forecastday[0].day.mintemp_c}}℃</div>
    </div>
    <div class="weather-info-block">

      <div class="weather-info-label">
       <img src="../assets/max.jfif" > 
       <span>Max</span>
      </div>
      <div class="weather-info-value">{{weatherData.forecast.forecastday[0].day.maxtemp_c}}℃</div>
     </div>

     <div class="weather-info-block">

      <div class="weather-info-label">
       <img src="../assets/humidity.jpg" > 
       <span>Humidity</span>
      </div>
      <div class="weather-info-value">{{weatherData.current.humidity}}%</div>
     </div>
     <div class="weather-info-block">

      <div class="weather-info-label">
       <img src="../assets/wind.jpg" > 
       <span>wind</span>
      </div>
      <div class="weather-info-value">{{weatherData.current.wind_kph}} Km/h</div>
     </div>

    </div>

  </div>
</div>